.pagination {
    list-style: none;
    height: 31.5px;
    width: 31.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    cursor: pointer;
    text-align: center;
    padding-left: 0;
    margin: 0 auto;
}

.active {
    background-color: #1e50ff;
    border-radius: 50%;
    color: white;
}

.page-item {
    list-style: none;
    padding: 2px 12px;
    height: 31.5px;
    width: 31.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

.paginationWrapper{
    text-align: center;
}

.page-item-none {
    display: none;
}